#log-in__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: darkgray;
  height: 100vh;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 70px 0px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
  color: var(--yellow);
}

.welcome-header__text p:first-child {
  margin-bottom: 5px;
  color: darkgray;
}

.welcome-header__text p:last-child {
  color: darkgray;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  width: 400px;
  font-size: 18px;
  margin-bottom: 15px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="button"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: lightgray;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"],
#login-form input[type="button"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: darkgray;
  font-size: 13px;
}
