.settings__setting {
  padding: 28px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__setting:last-child {
  border: 0;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__hr hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__setting-item {
  display: flex;
}
